.cart{
    display: flex;
    margin: 0 auto;
    margin-bottom: 4rem;  
    max-width: 1140px;
    padding: 2rem;
}
.cartContainer{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 100%;
    /* align-items: center; */
    
}
.cartQuantity{
    font-size: 1.2rem;
}
.productObs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.productObs textarea{
    width: 100%;
    border-radius: 20px;
    border: .5px solid #989595;
    padding: .5rem;
    resize: none;
    height: 5rem;
    line-height: 1.2;
}
.productObs textarea:focus{
    /* outline: 1px solid #7E3EBE; */
    outline: transparent;
    box-shadow: 0 0 0 1.5px #7E3EBE;
}
.totalCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.totalCart h1{
    letter-spacing: 1px;
}
.totalCart span{
    color: #C9CC45;
    font-size: 2rem;
    font-weight: 500;
}
.confirmBtn{
    display: flex;
    justify-content: center;
}
.confirmBtn button{
    color: #fff;
    background-color: #7E3EBE;
    border-radius: 24px;
    border: none;
    width: 90%;
    font-size: 2rem;
    font-weight: 500;
    padding: 1.2rem;
    cursor: pointer;
    transition: .4s;
}
.confirmBtn button:hover{
    background-color: #6c1bbd;
}
.divNavbar{
    display: flex;
    justify-content: center;
}
@media (max-width:500px) {
    .cart h2, .cart h1, .cart span{
        font-size: 1.4rem;
    }
    
}

